{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Campus Lost & Found </title>

    <link rel="stylesheet"
            href="{% static 'style.css' %}">
</head>

<body>

<nav class="navbar">
    <div class="nav-container container">
        <a class="logo" href="{% url 'home' %}">Campus Lost &amp; Found</a>
        <div class="nav-links">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'reports' %}">Reports</a>

            {% if user.is_authenticated %}
                <a href="{% url 'report_create' %}">
                    Create Report
                </a>

                <a href="{% url 'my_reports' %}">
                    My Reports
                </a>

                <form class="logout-form" method="post"
                      action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button class="nav-button" type="submit">Logout</button>
                </form>

            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

{% if messages %}
    {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>